body {
    background-color: gainsboro;
    color: gray;
    margin-left: 20px;
}
h1 {
    text-align: center;
    color: dimgray;
}
img {
    height: 500px;
    position: relative;
    left: 30%;
    margin: 10px;
}