{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}
{% block main %}
    <h1>Создание статьи</h1>

    <div style="margin-bottom: 20px;">
        <a href="/lab5">На главную</a> 
        <a href="/lab5/list">Мои статьи</a> 
        <a href="/lab5/logout">Выйти</a>
    </div>

    {% if error %}
        <div class="error" style="color: red; margin-bottom: 15px; padding: 10px; border: 1px solid red;">
            {{ error }}
        </div>
    {% endif %}
    
    <form method="post">
        <div>
            <label>
                Название статьи:
                <input type="text" maxlength="50" name="title">
            </label>
        </div>

        <div>
            <textarea name="article_text"></textarea>
        </div>

        <div>
            <button type="submit">Готово</button>
        </div>
    </form>
{% endblock %}