{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}
{% block style_lab %}<link rel="stylesheet" href="{{ url_for('static', filename='lab5.css')}}">{% endblock %}

{% block main %}
    <h1 class="base-h1">База знаний</h1>
    <div class="base-container">
        <a href="/lab5/articles_list" class="base-a">Список статей</a>
        <a href="/lab5/create" class="base-a">Создать статью</a>
        <a href="/lab5/login" class="base-a">Войти</a>
        <a href="/lab5/register" class="base-a">Регистрация</a>
        {% if login %}
            {{ login }}
        {% else %}
            <div class="name">Anonymous</div>
        {% endif %}
    </div>
{% endblock %}