{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Регистрация</h1>

    {% if error %}
        <div class="error" style="color: red; margin-bottom: 15px; padding: 10px; border: 1px solid red;">
            {{ error }}
        </div>
    {% endif %}

    <form action="/lab5/register" method="post">
        <div>
            <label>
                Логин: <input type="text" name="login">
            </label>
        </div>

        <div>
            <label>
                Пароль: <input type="password" name="password">
            </label>
        </div>

        <div>
            <label>
                Реальное имя: <input type="text" name="real_name">
            </label>
        </div>

        <br>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <div style="margin-top: 20px;">
        <a href="/lab5/login">Уже есть аккаунт? Войдите</a>
    </div>

{% endblock %}