main {
    text-align: center;
    color: rgb(114, 18, 106);
    font-size: 16pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.base-h1 {
    color: rgb(133, 14, 89);
}

.base-container{
    text-align: center;
    background-color: rgb(228, 148, 192);
    height: 550px;
    width: 500px;
    margin: 0 auto;
    border-radius: 30px;
    padding: 10px;
}

.base-a {
    color: rgb(133, 14, 89);
    display: block;
    height: 30px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(233, 185, 211);
    border-radius: 50px;
}

.name {
    margin-top: 50px;
}