{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}
{% block style_lab %}<link rel="stylesheet" href="{{ url_for('static', filename='lab8.css')}}">{% endblock %}

{% block main %}
<div class="lab8-container">
    <h1 class="lab8-title">База знаний</h1>
    
    {% if current_user.is_authenticated %}
        <div class="lab8-user-info">
            <p>Вы вошли как: <span class="lab8-username">{{ current_user.login }}</span></p>
        </div>
        
        <div style="margin-top: 30px;">
            <a class="lab8-link" href="/lab8/articles/">Список статей</a>
            <a class="lab8-link" href="/lab8/logout">Выйти</a>
        </div>
    {% else %}
        <p class="lab8-subtitle">Вы не авторизованы</p>
        <div style="margin-top: 30px;">
            <a class="lab8-link" href="/lab8/login/">Вход</a>
            <a class="lab8-link" href="/lab8/register/">Регистрация</a>
        </div>
    {% endif %}
</div>
{% endblock %}