{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}
{% block style_lab %}<link rel="stylesheet" href="{{ url_for('static', filename='lab8.css')}}">{% endblock %}

{% block main %}
<div class="lab8-container">
    <h1 class="lab8-title">Регистрация</h1>
    <p class="lab8-subtitle">Создайте новый аккаунт</p>
    
    {% if error %}
        <div class="lab8-error">
            {{ error }}
        </div>
    {% endif %}
    
    <form class="lab8-form" action="/lab8/register" method="post">
        <div class="lab8-form-group">
            <label class="lab8-label" for="login">Логин:</label>
            <input class="lab8-input" type="text" id="login" name="login" required 
                   placeholder="Введите логин">
        </div>
        
        <div class="lab8-form-group">
            <label class="lab8-label" for="password">Пароль:</label>
            <input class="lab8-input" type="password" id="password" name="password" required 
                   placeholder="Введите пароль">
        </div>
        
        <button class="lab8-button" type="submit">Зарегистрироваться</button>
    </form>
    
    <p>Уже есть аккаунт? 
        <a class="lab8-link" href="/lab8/login">Войти</a>
    </p>
</div>
{% endblock %}